body
{
    margin: 0px;
}

#page-wrapper
{
    border: solid thick;
    /* flex: 1 100%;
    display: flex; */
    /* flex-direction: column; */
    /* flex-basis: content;
    flex-flow: row wrap; */

    /* ------------------------------------------- */
    /* TODO: Make image source be specified in CSS */
    /* ------------------------------------------- */
    /* background-image: "img/background-top.jpg";
    background-repeat: no-repeat;
    background-position: top center; */
}

#bg-top
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -3;
}

#transparency-mask
{
    width: 100%;
    z-index: -1;
}

#bg-top-img
{
    width: 100%;
    height: 500px;
    z-index: -2;
}

main
{
    background-color: white;
    border: solid;
    border-color: red;
    border-radius: 20px;
    border-width: 10px;
    /* width: 100%; */
    width: 70%;
    float: left;
    /* flex-grow: 1; */
    /* flex: 3 0px; */
}

#layout-wrapper
{
    border: dashed;
    border-color: purple;
    margin: 180px 0px 200px 0px;
    /* position: absolute; */
    /* clear: both; */
}

aside
{
    border: dashed;
    border-color: gray;
    height: 200px;
    width: 14%;
}

#aside1
{
    float: left;
}

#aside2
{
    float: left;
}

#logo
{
    border: dashed;
    border-color: blue;
    float: left;
}

#logo-img
{
    height: 150px;
    width: 150px;
}

nav ul
{
    background-color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

nav li
{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-right: 1px solid #888;
    padding: 30px 30px 30px 30px;
}

li a
{
    /* display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; */
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

nav a:hover {
  background-color: #b80000;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

#content
{
    border: dotted;
    clear: both;
    margin: 20px 80px 20px 80px;
}

p
{
    padding: 10px;
}

footer
{
    width: 100%;
    clear: both;
}

.center
{
    margin: auto;
    border: 3px solid #73AD21;
    text-align: center;
}

.grad 
{
    height: 500px;
    background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,1)); /*Standard*/
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}